---
title: About
---
<!DOCTYPE HTML>

<head>
	{% include header.html %}
</head>

<body>
	{% include navigation.html %}

	<div class="content">
		<h1>About Me</h1>

		<h2>Who am I?</h2>
		<p>
			I am Stephen Chandler Paul, I go by the alias "Lyude" on the Internet and I go by my middle name "Chandler" in real life. I'm currently attending Springfield Technical Community College majoring in Computer Science. I'm hoping to start a career working on FOSS, <b>F</b>ree and <b>O</b>pen <b>S</b>ource <b>S</b>oftware, and have been teaching myself many aspects of computer science in my spare time when I'm not working or at school.
		</p>

		<p>
			You can send me an e-mail at <a href="mailto:thatslyude@gmail.com">thatslyude@gmail.com</a>.<br/>
			My PGP key ID is <a href="http://pgp.mit.edu/pks/lookup?op=vindex&search=0x693BA6EAEDBF9F12">EDBF9F12</a>.<br/>
			I am also available on <a href="http://freenode.net">FreeNode</a> and <a href="http://ponychat.net">PonyChat</a> as Lyude.
		</p>
	</div>
	{% include footer.html %}
</body>
