---
---
<!DOCTYPE html>
<html>
<head>
	{% include header.html %}

	<!--
	There is no way to vertically center something that is built into CSS. Sadly
	this means you have to use a weird hack like this:
	(taken and slightly modified from http://goo.gl/VKke9k )
	-->
	<style>
		body {
			width: 100%;
			text-align: center;
			height: 50%;
			overflow: auto;
			margin: auto;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;

			font-size: 20pt;
		}
		img.logo {
			float: left;
		}
		ul {
			text-align: left;
		}
	</style>
</head>

<body>
	<div style="display: inline-block">
		<img class="logo" src=logo.svg alt="lyude.net logo" />

		<div style="display: inline-block">
			{% include navigation.html links_only=true %}
		</div>
	</div>

	{% include footer.html %}
</body>

