---
description: "The home page of lyude.net"
---
<!DOCTYPE html>
<html>
<head>
	{% include header.html js=false %}

	<!--
	There is no way to vertically center something that is built into CSS. Sadly
	this means you have to use a weird hack like this:
	(taken and slightly modified from http://goo.gl/VKke9k )
	-->
	<style>
		body {
			width: 100%;
			text-align: center;
			height: 50%;
			overflow: auto;
			margin: auto;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;

			font-size: 20pt;
			background-color: #94DBFF;
		}
		img.logo {
			float: left;
		}
		ul {
			text-align: left;
		}

		div#footer {
			color: black;
		}
	</style>
</head>

<body>
	<div style="display: inline-block">
		<img class="logo" src="/resources/logo.svg" alt="lyude.net logo" />

		<div style="display: inline-block">
			<ul>
				{% for link in site.data.nav_links %}
					<li><a href="/{{ link.page }}">{{ link.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	{% include footer.html no_fairhead_attrib=true %}
</body>
