ul {
	list-style: none;
	margin-left: -40px;
	margin-right: -40px;
}

li:before {
	content: ">";
	color: #81A1A1; 
	padding-right: 5px;
}

a.navigation {
	text-decoration: none;
}
a.navigation:hover {
	transition-property: background-color;
	transition-duration: 0.25s;
	background-color: White;
}
a.navigation:visited {
	color: blue;
}

div.navigation {
	font-weight: bold;
}

div#content_container {
	clear: both;
	margin: 0 auto;
	/* Because this contains both of of the boxes and keeps them nice and
	 * snug, this has to be set using the following formula:
	 * sizeof(div#content) + sizeof(div#blog_list) + (the total padding on
	 * both boxes) + (the total margins of both boxes) + (the total borders
	 * of both boxes)
	 */
	width: 928px;
}

div#content, div#blog_list, div#social_media {
	background-color: #94DBFF;
	padding-left: 25px;
	padding-right: 25px;

	margin-top: 7px;

	border: 2px solid;
	border-radius: 10px;
	border-color: #5CB8E6;

	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

div#content {
	float: left;

	margin-left: 10px;
	margin-right: 5px;

	width: 600px;
}

span.post_title {
	text-align: left;
	font-size: x-large;
}

span.post_date {
	font-size: small;
	font-style: italic;
}

div#blog_list, div#social_media {
	float: right;
	clear: right;

	margin-left: 5px;
	margin-right: 10px;

	width: 190px;
}

div#blog_list {
	clear: right;
}

div#social_media {
	text-align: center;

	padding-top: 10px;
	padding-bottom: 10px;
}

div#blog_list h1 {
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
}
div#blog_list dd {
	font-size: small;
	margin-left: 5px;
}

div#footer {
	clear: both;
	padding-top: 10px;
	text-align: center;
	font-size: 8pt;
}

div.box_title_area {
	margin-left: -25px;
	margin-right: -25px;
	margin-bottom: -10px;
	
	text-align: center;

	border-bottom: 2px;
	border-bottom-style: dotted;
	border-color: #5CB8E6;
}
div.box_title_area>* {
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 5px;
	margin-top: 5px;
}

img.logo {
	float: left;
	padding-right: 10px;
	padding-bottom: 5px;
}

body {
	background-color: #1A3366;
	font-family: Arial;
}

h1,h2,h3 {
	font-weight: lighter;
}

h2 {
	margin-left: -10px;
	margin-right: -10px;
	font-size: 20pt;
	line-height: 75%;
}
h3 {
	margin-left: -5px;
	margin-right: -5px;
	line-height: 50%;
}

dt {
	font-weight: bold;
}

.req_form_indicator {
	font-style: bold;
	color: red;
}

table, tr, td, th {
	border: 1px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;
	border-spacing: 10px 50px;
}

table#thinkpad_support td:nth-child(2),
table#thinkpad_acpi_support td:nth-child(2) {
	text-align: center;
}

th {
	background-color: #4A93B8;
}

table#thinkpad_support .feat_works, table#thinkpad_acpi_support .feat_works {
	background-color: LimeGreen;
}
table#thinkpad_support .feat_mostly, table#thinkpad_acpi_support .feat_mostly {
	background-color: Yellow;
}
table#thinkpad_support .feat_missing, table#thinkpad_acpi_support .feat_missing {
	background-color: Red;
}

