ul {
	list-style: none;
	margin-left: 0;
	margin-right: 0;
}

li:before {
	content: ">";
	color: #81A1A1; 
	padding-right: 5px;
}

a.navigation {
	text-decoration: none;
}
a.navigation:hover {
	transition-property: background-color;
	transition-duration: 0.25s;
	background-color: White;
}
a.navigation:visited {
	color: blue;
}

div.navigation {
	font-weight: bold;
}

div#content {
	clear: left;
	background-color: #94DBFF;
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 25px;
	padding-right: 25px;

	border: 2px solid;
	border-radius: 10px;
	border-color: #5CB8E6;

	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

div#footer {
	text-align: center;
	font-size: 8pt;
}

img.logo {
	float: left;
	padding-right: 10px;
	padding-bottom: 5px;
}

body {
	background-color: #66CCFF;
	font-family: Arial;
}

h1,h2,h3 {
	font-weight: lighter;
}

h1 {
	margin-left: -25px;
	margin-right: -25px;
	text-align: center;
	border-bottom: 2px;
	border-bottom-style: dotted;
	border-color: #5CB8E6;
}

h2 {
	margin-left: -10px;
	margin-right: -10px;
	font-size: 20pt;
	line-height: 75%;
}
h3 {
	margin-left: -5px;
	margin-right: -5px;
	line-height: 50%;
}

dt {
	font-weight: bold;
}

.req_form_indicator {
	font-style: bold;
	color: red;
}

table, tr, td, th {
	border: 1px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;
	border-spacing: 10px 50px;
}

table#thinkpad_support td:nth-child(2),
table#thinkpad_acpi_support td:nth-child(2) {
	text-align: center;
}

th {
	background-color: #4A93B8;
}

table#thinkpad_support .feat_works, table#thinkpad_acpi_support .feat_works {
	background-color: LimeGreen;
}
table#thinkpad_support .feat_mostly, table#thinkpad_acpi_support .feat_mostly {
	background-color: Yellow;
}
table#thinkpad_support .feat_missing, table#thinkpad_acpi_support .feat_missing {
	background-color: Red;
}

