<meta charset="UTF-8"/>
<meta name="author" content="Lyude"/>
<meta name="twitter:card" content="summary"/>
<meta name="twitter:creator" content="@_Lyude">
<meta name="twitter:site" content="@_Lyude">
{% comment %} TODO: Write a smart truncator for this {% endcomment %}
{% if page.description == null %}
	<meta name="twitter:description" content="{{ page.excerpt | strip_html | truncate: 200 }}">
{% else %}
	<meta name="twitter:description" content="{{ page.description }}">
{% endif %}

<link href="/stylesheets/master.css" rel="stylesheet" type="text/css"/>
{% if page.stylesheet != null %}
	<link href="/stylesheets/{{ page.stylesheet }}" rel="stylesheet" type="text/css"/>
{% endif %}
{% if page.title == null %}
	<title>lyude.net</title>
	<meta name="twitter:title" content="lyude.net">
{% else %}
	<title>lyude.net - {{ page.title }}</title>
	<meta name="twitter:title" content="{{ page.title }}">
{% endif %}
{% if include.js != false %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/js/navigation_bar.js"></script>
{% endif %}
