span#post_title {
	text-align: left;
	font-size: x-large;
}

span#post_date {
	font-size: small;
	font-style: italic;
}

div#blog_comments {
	padding-top: 5px;

	border-top: 2px;
	border-top-style: dotted;
	border-color: rgba(92, 184, 230, 1);
}

div#share_buttons {
	font-weight: bold;
	font-size: small;
	font-style: italic;
}

div#share_buttons img {
	width: 7.5mm;
	height: 7.5mm;
}
