@import "fonts.css";

ul {
	list-style: none;
	margin-left: -40px;
}

li:before {
	content: ">";
	color: #81A1A1; 
	padding-right: 5px;
}

div#navigation {
	width: 100%;

	background: #99CCFF;

	height: 62px;
	text-indent: 70px;

	box-shadow: 0px 0px 5px 3px black;
}

div.navigation_button {
	height: 62px;
	display: inline-block;

	text-align: center;
	text-indent: 0px;

	background-color: #3399FF;
}

a.navigation_button_text {
	position: relative;

	/* Make the link appear to be in the center of the button */
	padding-top: 19px;

	padding-left: 10px;
	padding-right: 10px;

	height: 33px;

	display: inline-block;

	border-bottom: 10px #003366 solid;

	font-family: "Noto Sans";
}

a.navigation_button_text:link, a.navigation_button_text:visited {
	color: black;
}

img#logo {
	position: absolute;
}

div#navigation a {
	text-decoration: none;
}
div#navigation a:hover {
	transition-property: border;
	transition-duration: 0.25s;
	border-bottom: 10px #C2E0FF solid;
}

div#content_container {
	clear: both;
	margin: 0 auto;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 0px;
	/* Because this contains both of of the boxes and keeps them nice and
	 * snug, this has to be set using the following formula:
	 * sizeof(div#content) + sizeof(div#blog_list) + (the total padding on
	 * both boxes) + (the total margins of both boxes) + (the total borders
	 * of both boxes)
	 */
	width: 928px;
}

div#content, div#blog_list, div#social_media {
	background-color: #94DBFF;
	padding-left: 25px;
	padding-right: 25px;

	margin-top: 7px;

	border: 2px solid;
	border-radius: 10px;
	border-color: #5CB8E6;

	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

div#content {
	float: left;

	margin-left: 10px;
	margin-right: 5px;

	width: 600px;
}

div#blog_list, div#social_media {
	float: right;
	clear: right;

	margin-left: 5px;
	margin-right: 10px;

	width: 190px;
}

div#blog_list {
	clear: right;
}

div#social_media {
	text-align: center;

	padding-top: 10px;
	padding-bottom: 10px;
}

div#blog_list h1 {
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
}
div#blog_list dd {
	font-size: small;
	margin-left: 5px;
}

div#footer {
	clear: both;
	padding-top: 10px;
	text-align: center;
	font-size: 8pt;
	color: grey;
}
div#footer a:visited {
	color: blue;
}

div.box_title_area {
	margin-left: -25px;
	margin-right: -25px;
	margin-bottom: -10px;

	text-align: center;

	border-bottom: 2px;
	border-bottom-style: dotted;
	border-color: #5CB8E6;
}
div.box_title_area>* {
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 5px;
	margin-top: 5px;
}

body {
	background-color: #1A3366;
	font-family: Arial;
	margin: 0px; /* Let the content containers handle the margins */

	background-repeat: no-repeat;
	background-position: left bottom;
	background-attachment: fixed;
	background-image: url("/resources/background_vector.svg")
}

h1,h2,h3 {
	font-weight: lighter;
}

h2 {
	margin-left: -10px;
	margin-right: -10px;
	font-size: 20pt;
	line-height: 75%;
}
h3 {
	margin-left: -5px;
	margin-right: -5px;
	line-height: 50%;
}

dt {
	font-weight: bold;
}

.req_form_indicator {
	font-style: bold;
	color: red;
}

table, tr, td, th {
	border: 1px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;
	border-spacing: 10px 50px;
}

table#thinkpad_support td:nth-child(2),
table#thinkpad_acpi_support td:nth-child(2) {
	text-align: center;
}

th {
	background-color: #4A93B8;
}

table#thinkpad_support .feat_works, table#thinkpad_acpi_support .feat_works {
	background-color: LimeGreen;
}
table#thinkpad_support .feat_mostly, table#thinkpad_acpi_support .feat_mostly {
	background-color: Yellow;
}
table#thinkpad_support .feat_missing, table#thinkpad_acpi_support .feat_missing {
	background-color: Red;
}

