@import "fonts.css";

nav {
	/* Make navigation bar scroll with page */
	top: 0;
	position: fixed;

	width: 100%;

	background: rgba(153, 204, 255, 1);

	height: 62px;
	text-indent: 70px;
}

nav.detached {
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	
	box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.75);
	background: rgba(153, 204, 255, 0.75);
}

nav.attached {
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;

	box-shadow: 0px 0px 0px 3px rgba(92, 184, 230, 1);
	background: rgba(153, 204, 255, 1);
}

div.nav_button {
	height: 62px;
	display: inline-block;

	text-align: center;
	text-indent: 0px;
}

nav.detached a.nav_button_text {
	color: rgba(0, 0, 0, 1);
	border-bottom: 10px rgba(0, 51, 102, 0.5) solid;
	background: -moz-radial-gradient(center, ellipse cover, rgba(153,204,255,1) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(153,204,255,1)), color-stop(100%,rgba(0,0,0,0)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(153,204,255,1) 0%,rgba(0,0,0,0) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(153,204,255,1) 0%,rgba(0,0,0,0) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(153,204,255,1) 0%,rgba(0,0,0,0) 100%);
	background: radial-gradient(ellipse at center, rgba(153,204,255,1) 0%,rgba(0,0,0,0) 100%);
}

a.nav_button_text {
	position: relative;

	/* Make the link appear to be in the center of the button */
	padding-top: 19px;

	padding-left: 10px;
	padding-right: 10px;

	height: 33px;

	display: inline-block;

	border-bottom: 10px rgba(0, 51, 102, 1) solid;

	font-family: "Noto Sans";
}

a.nav_button_text:link, a.nav_button_text:visited {
	color: black;
}

img#logo {
	position: fixed;
	z-index: 1;
}

nav a {
	text-decoration: none;
}
nav a.nav_button_text:hover {
	transition-property: border;
	transition-duration: 0.25s;
	border-bottom: 10px rgba(194, 224, 255, 1) solid;
}

svg#go_to_top {
	float: right;
	display: block;

	margin-top: 6px;
	width: 50px;
	height: 50px;
}

svg#go_to_top path {
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	fill: rgba(226, 233, 241, 1); 
}

svg#go_to_top:hover path {
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	fill: white;
}

div#content_container {
	clear: both;
	margin: 0 auto;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 62px;

	/* Because this contains both of of the boxes and keeps them nice and
	 * snug, this has to be set using the following formula:
	 * sizeof(div#content) + sizeof(div#blog_list) + (the total padding on
	 * both boxes) + (the total margins of both boxes) + (the total borders
	 * of both boxes)
	 */
	width: 928px;
}

div.content_box, div.side_content_box {
	background-color: rgba(148, 219, 255, 1);
	padding-left: 25px;
	padding-right: 25px;

	margin-top: 7px;

	border: 2px solid;
	border-radius: 10px;
	border-color: rgba(92, 184, 230, 1);

	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

div.side_content_box {
	float: right;
	clear: right;

	margin-left: 5px;
	margin-right: 10px;

	width: 190px;
}

div#content {
	float: left;

	margin-left: 10px;
	margin-right: 5px;

	width: 600px;

	background-color: rgba(202, 237, 255, 1);

	background-image: url("/resources/noise.png");
}

div#content div.box_title_area {
	background-color: rgba(148, 219, 255, 1);
}

div#social_media {
	float: right;
	text-align: center;
	padding-top: 6px;
	padding-right: 5px;
}

div#social_media.handled_by_js {
	padding-top: 0;
	padding-right: 0;
	display: inline;
	position: fixed;
	right: 5px;
	top: 6px;
	z-index: 1;
}

div#social_media.attached {
	transition: right 300ms;
}

div#social_media.detached {
	transition: right 300ms;
	right: 50px;
}

div#social_media img {
	width: 50px;
	height: 50px;
}

div#blog_list h1 {
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
}
div#blog_list dd {
	font-size: small;
	margin-left: 5px;
}

div#footer {
	clear: both;
	padding-top: 10px;
	text-align: center;
	font-size: 8pt;
	color: grey;
}

div.box_title_area {
	margin-left: -25px;
	margin-right: -25px;
	margin-bottom: -10px;
	margin-top: 0px;

	padding-top: 5px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;

	text-align: center;

	border-bottom: 2px;
	border-bottom-style: dotted;
	border-color: rgb(92, 184, 230);
}
div.box_title_area>* {
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 5px;
	margin-top: 5px;
}

body {
	background-color: rgba(26, 51, 102, 1);
	font-family: Arial;
	margin: 0px; /* Let the content containers handle the margins */

	background-repeat: no-repeat;
	background-position: left bottom;
	background-attachment: fixed;
	background-image: url("/resources/background_vector.svg")
}

h1,h2,h3 {
	font-weight: lighter;
}

h2 {
	margin-left: -10px;
	margin-right: -10px;
	font-size: 20pt;
	line-height: 75%;
}
h3 {
	margin-left: -5px;
	margin-right: -5px;
	line-height: 50%;
}

dt {
	font-weight: bold;
}

a:hover {
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	color: rgba(1, 129, 235, 1);
}

a {
	-webkit-transition: 300ms;
	-moz-transition: 300ms;
	-ms-transition: 300ms;
	-o-transition: 300ms;
	transition: 300ms;
	color: rgba(24, 99, 161, 1);
}

ul {
	list-style: none;
	margin-left: -40px;
}

li:before {
	content: ">";
	color: rgba(129, 161, 161, 1); 
	padding-right: 5px;
}

