table, tr, td, th {
	border: 1px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;
	border-spacing: 10px 50px;
}

td:nth-child(2) {
	text-align: center;
}

th {
	background-color: #4A93B8;
}

.feat_works {
	background-color: LimeGreen;
}
.feat_mostly {
	background-color: Yellow;
}
.feat_missing {
	background-color: Red;
}

