<!DOCTYPE HTML>

<html>
<head>
	{% include header.html %}
</head>

<body>
	<a href="/index.html"><img id=logo src="/logo.svg" class="logo" width="70" height="100" alt="lyude.net" /></a>

	<div id="navigation">
		{% for link in site.data.navigation_links %}
			<div class="navigation_button"><a class="navigation_button_text" href="/{{ link.page }}">{{ link.name }}</a></div>
		{% endfor %}
	</div>

	<div id="content_container">
		<div id="content">
			{{ content }}
		</div>

		{% include blog_list.html %}

		<div id="social_media">
			<a href="https://twitter.com/_Lyude" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @_Lyude</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			<br>
			<iframe src="/resources/github-btn.html?user=Lyude1337&type=follow&size=large" allowtransparency="true" frameborder="0" scrolling="0" width="196" height="40"></iframe>
		</div>
	</div>

	{% include footer.html %}
</body>
