<!DOCTYPE HTML>

<html>
<head>
	{% include header.html %}
</head>

<body>
	<a href="/index.html"><img id=logo src="/resources/logo.svg" class="logo" width="70" height="100" alt="lyude.net" /></a>

	<nav class="attached">
		{% for link in site.data.nav_links %}
			<div class="nav_button"><a class="nav_button_text" href="/{{ link.page }}">{{ link.name }}</a></div>
		{% endfor %}
		<a href="javascript:smoothScrollToTop();">
			<svg version="1.1" id="go_to_top" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100">
				<path class="go_to_top_main_path"
					d="M70.799,59.599c0.146,0.19,0.219,0.417,0.219,0.645c0,0.225-0.07,0.449-0.213,0.638c-0.286,0.38-0.792,0.522-1.235,0.348
					l-13.215-5.221v30.594c0,0.585-0.474,1.059-1.059,1.059H44.705c-0.585,0-1.059-0.474-1.059-1.059V56.008l-13.216,5.221
					c-0.442,0.175-0.948,0.032-1.234-0.348c-0.287-0.38-0.286-0.905,0.006-1.283l19.959-25.96c0.2-0.261,0.51-0.414,0.839-0.414
					s0.64,0.153,0.84,0.414L70.799,59.599z M79.473,12.339H20.527c-1.104,0-2,0.896-2,2v13.5c0,1.104,0.896,2,2,2h58.945
					c1.104,0,2-0.896,2-2v-13.5C81.473,13.234,80.577,12.339,79.473,12.339z"/>
			</svg>
		</a>
		<script>
			/* If we have the ability to use Javascript, this will hide the button until
			 * the rest of the scripts have been loaded
			 */
			document.getElementById("go_to_top").style.display = "none";
		</script>

		<div id="social_media">
			<a href="https://twitter.com/intent/user?screen_name=_Lyude"><img src="/resources/social_network_buttons/twitter.svg" alt="Twitter"/></a>
			<a href="https://www.facebook.com/lyudess"><img src="/resources/social_network_buttons/facebook.svg" alt="Facebook"/></a>
			<a href="https://github.com/Lyude1337"><img src="/resources/social_network_buttons/github.svg" alt="Github"/></a>
			<a href="http://www.last.fm/user/Shiny_Lucario"><img src="/resources/social_network_buttons/lastfm.svg" alt="last.fm"/></a>
			<a href="mailto:thatslyude@gmail.com"><img src="/resources/social_network_buttons/mail.svg" alt="E-Mail"/></a>
		</div>
	</nav>

	<div id="content_container">
		<div id="content" class="content_box">
			{{ content }}
		</div>

		{% include blog_list.html %}
	</div>

{% include footer.html %}
</body>
</html>
