---
layout: default
stylesheet: blog_post.css
---

<div class="box_title_area" style="text-align: left">
	<span class="post_title">{{ page.title }}</span><br/>
	<span class="post_date">Published by Stephen Chandler "Lyude" Paul on {{ page.date | date: "%A %B %d, %Y" }}</span><br>
	<span class="categories"><span class=opener>Categories:</span> {% for category in page.categories %}{% categorylink category %}{{ category }}{% endcategorylink %} {% endfor %}</span>
</div>

{{ content }}

<div id=share_buttons>
	Share on:<br>
	<a href="https://twitter.com/share"><img src="/resources/social_network_buttons/twitter.svg" alt="Share on Twitter"/></a>
	<a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend:'https://lyude.net' | url_encode }}&title={{ page.title | url_encode }}" target="_blank"><img src="/resources/social_network_buttons/facebook.svg" alt="Share on Facebook"></a>
	<a href="https://plus.google.com/share?url={{ page.url | prepend:'https://lyude.net' | url_encode }}" alt="Share on Google+" target="_blank"><img src="/resources/social_network_buttons/google_plus.svg"></a>
	<a href="http://www.linkedin.com/shareArticle?mini=true&url={{ page.url | prepend:'https://lyude.net' | url_encode }}&title={{ page.title | url_encode }}&source=lyude.net&summary={{ page.excerpt | strip_html | truncate: 256 | url_encode }}"><img src="/resources/social_network_buttons/linkedin.svg" alt="Share on LinkedIn" target="_blank"></a>
	<a href="http://www.reddit.com/submit?url={{ page.url | prepend:'https://lyude.net' | url_encode }}&title={{ page.title | url_encode }}"><img src="/resources/social_network_buttons/reddit.svg" alt="Share on Reddit"></a>
	<a href="http://www.stumbleupon.com/submit?url={{ page.url | prepend:'https://lyude.net' | url_encode }}&title={{ page.title | url_encode }}"><img src="/resources/social_network_buttons/stumbleupon.svg"></a>
	<a href="http://www.tumblr.com/share?v=3&u={{ page.url | prepend:'https://lyude.net' | url_encode }}&t={{ page.title | url_encode }}"><img src="/resources/social_network_buttons/tumblr.svg" alt="Share on Tumblr"></a>
</div>

<div id="blog_comments">
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		var disqus_shortname = 'lyude';

		(
			function() {
				var dsq = document.createElement('script');
				dsq.type = 'text/javascript';
				dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			}
		)();
	</script>
	<noscript>
		Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
	</noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
