---
layout: default
stylesheet: blog_post.css
---

<div class="box_title_area" style="text-align: left">
	<span class="post_title">{{ page.title }}</span><br/>
	<span class="post_date">Published by Stephen Chandler "Lyude" Paul on {{ page.date | date: "%A %B %d, %Y" }}</span>
</div>

{{ content }}

<div id="blog_comments">
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		var disqus_shortname = 'lyude';

		(
			function() {
				var dsq = document.createElement('script');
				dsq.type = 'text/javascript';
				dsq.async = true;
				dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
				(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
			}
		)();
	</script>
	<noscript>
		Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
	</noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
